---
- name: Apply OS hardening to all servers
  hosts: all
  become: yes
  roles:
    - hardening

- name: Deploy Flask application to app servers
  hosts: app_servers
  become: yes
  roles:
    - app

- name: Configure HAProxy load balancer with SSL
  hosts: haproxy
  become: yes
  vars:
    use_ssl: true
  roles:
    - haproxy
